{% extends "base.html" %}
{% block content %}
<div class="p-4 bg-light rounded shadow-sm">
  <h1>Seja bem-vindo ao site do Clube de Desbravadores Monte das Oliveiras</h1>
  <p class="lead">Este site foi criado para gerenciar atividades, compartilhar fotos e manter contato com os membros e visitantes do nosso clube.</p>
  <p>Encontrará informações sobre eventos, atas, patrimônio, mensalidades e um espaço para deixar mensagens.</p>
  <img src="/static/images/brasao.png" alt="Brasão do clube" class="img-fluid mt-3 d-block mx-auto"  style="max-width:360px;">
</div>
{% endblock %}
